<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerModal"
    data-id="{{ item.id }}">
    Select Customer
</button>



<!-- Sell -Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerModalLabel">Select Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="selectCustomerForm" method="post" action="{% url 'select_customer' %}">
                    {% csrf_token %}
                    <input type="hidden" id="item_id_modal" name="item_id" value="">
                    <div class="mb-3">
                        <label for="customerSelect" class="form-label">Choose a Customer</label>
                        <select class="form-select" id="customerSelect" name="customer_id">
                            <option value="" disabled selected>Select a customer</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" form="selectCustomerForm" class="btn btn-primary"
                    id="select_customer">Select</button>
            </div>
        </div>
    </div>
</div>




</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




<script>


    document.addEventListener('DOMContentLoaded', function () {
        var customerModal = document.getElementById('customerModal');
        customerModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var itemId = button.getAttribute('data-id');
            document.getElementById('item_id_modal').value = itemId;

            fetch(`/customers_view`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        var customerSelect = document.getElementById('customerSelect');
                        customerSelect.innerHTML = '';

                        data.forEach(customer => {
                            var option = document.createElement('option');
                            option.value = customer.id;
                            option.textContent = `${customer.first_name} ${customer.second_name}`;
                            customerSelect.appendChild(option);
                        });
                    }
                })
                .catch(error => {
                    console.error('Error fetching item data:', error);
                    alert('Failed to fetch item data!');
                });
        });
    });


</script>

</html>